@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Roboto+Mono:wght@300;400;500;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body {
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 75vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(./img/desktop-source-code-and-wallpaper-by-coding-and-programming-free-photo.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    margin-bottom: 40px;
}

.primary-nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 3%;
}

.logo{
    color: white;
    font-size: 28px;;
}


.logos {
    width: 100px;
    background-position: center;
    float: left;
    margin: 20px 10px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
}

.button{
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color:white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    margin-left: 20px;
    margin-top: -13%;
}

button:hover{
    transform: scale(1.3);
    cursor: pointer;
}

.hero-title {
    position: absolute;
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
    width: 100vw;
}

.hero-title h1 {
    color: #fff;
    display: table;
    font-family: Montserrat, Roboto, sans-serif;
    font-size: 1.6rem;
    font-weight: 800;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    z-index: 1
}

.hero-title h1 span {
    display: block;
    font-size: 1rem;
    font-weight: 300;
    color: #ea1538;
}

/* hero-title media ---------------------------------------------------> */

@media screen and (min-width: 576px) {
    .hero-title h1 {
        font-size: 2.2rem;
        padding: 0 22px
    }
}

.hero-title h1:before {
    bottom: 5px;
    height: 60px;
    left: 0;
    width: 40px
}

.hero-title h1:after {
    height: 54px;
    right: 0;
    top: 4px;
    width: 90px
}

.hero-title h1 span {
    display: block;
    font-size: 1.1rem;
    font-weight: 300
}

.hero-title h1 span:first-of-type {
    color: #a7a7a7;
    margin-bottom: 12px
}

.hero-title h1 span:last-of-type {
    color: #e63550;
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: right;
}


/* about me section -----------------------------------------------------------> */
.section {
    padding-bottom: 1em;
    padding-top: 1em;
}

.about-text {
    padding-bottom: 1em;
    text-align: center;
}

.about-text h2 {
    font-weight: 900;
    text-transform: uppercase;
}

.about-text hr {
    border: none;
    border-bottom: 1px solid #e63550;
    margin: 1rem auto;
    position: relative;
    width: 80px;
}
.about-text p {
    font-family: 'Roboto';
    font-weight: bold;
    margin-top: 60px;
}

/* projects section --------------------------------------------------------> */


.projects-header h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 900;
    text-transform: uppercase;
}

.projects-header hr {
    border: none;
    border-bottom: 1px solid #e63550;
    margin: 1rem auto;
    position: relative;
    width: 80px;
    margin-bottom: 60px;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
    gap: 30px;
    margin: 20px 50px;
    margin-bottom: 40px;
}

.portfolio-item {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.portfolio-grid .portfolio-item {
    overflow: hidden;
    position: relative;
}
.portfolio-item img{
   width: 100%;
   height: 100%;
}



/* skills section -------------------------------------------------------> */
.section-skills {
    background-color: #fcfcfcd5;
}
.bg-medium {
    background-color: #eeeeeeeb;
}

.skills-container {
    margin: 30px 100px;
}


.skills-header h2{
    text-align: center;
    margin-top: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

.skills-header hr{
    border: none;
    border-bottom: 1px solid #e63550;
    margin: 1rem auto;
    position: relative;
    width: 80px;
    margin-bottom: 60px;
}

.skill {
    margin-bottom: 3em;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left
}

.skill i,
.skill svg {
    color: #b7b7b7;
    font-size: 50px;
    margin-bottom: .35em
}

.skill h3 {
    font-size: 1.25em;
    font-weight: 900;
    margin-bottom: 1.2em;
}

.skill-bar {
    background: #ccc;
    display: block;
    height: 5px;
    width: 100%
}

.skill-percentage {
    background: #e63550;
    display: inherit;
    height: inherit;
    position: relative;
    width: auto;
}








